<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=640,initial-scale=0.5,maximum-scale=0.5,minimum-scale=0.5,user-scalable=no">
    <meta charset="utf-8">
    <meta name="keywords" content="洗地机,擦地机,扫地机,南昌洗地机,合肥洗地机,青岛洗地机,太原洗地机,厦门洗地机,济南洗地机,西宁洗地机,中山洗地机,南宁洗地机,南京洗地机,杭州洗地机,苏州洗地机">
    <meta name="description" content="昆山市贝纳特机械设备有限公司是一家集研发、制造、分销于一体的综合性清洁设备企业。自2007年成立至今，依托于长江三角经济开发区——昆山市千灯镇这一地理优势，一直致力于提供最优质、最高效、最经济的清洁问题解决方案。" />
    <link rel="shortcut icon" href="http://47.92.123.27:8888/boss/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="http://47.92.123.27:8888/boss/favicon.ico" type="image/x-icon"/>
    <!-- Polyfills -->
    <!--[if lt IE 10]>
    <script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js,es6-shim/0.35.1/es6-sham.min.js,es6-shim/0.35.1/es6-shim.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js"></script>
    <![endif]-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=4v4mYOloL6dlhhAOp5Ur17DKnzjLatMc&amp;services=&amp;t=20170803155555"></script>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d3a43449ad1a8b925273d49ccc30ff92";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="app">
    <%=htmlWebpackPlugin.options.body%>
</div>
</body>
</html>

